<div class="banner" style="height: 500px;
  background-image: url('https://res.cloudinary.com/swpinchen/image/upload/v1613996649/jjy2tjbvdo4sqejrzyq5.jpg');">
  <h1>In a bit of a pinch here...</h1>
  <h2>This is all that I have - </h2>
  <h2>really need a cocktail now!</h2>
</div>

<div class="container my-5">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
        <%= cocktail.name %>
        <% end %>
      </div>
  </div>
</div>
<%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()"> %>
